<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>컨텐츠에 데이터 출력하기</h1>
    <ul>
        <li>th:text 사용
            <span th:text="${data}">th Data</span>
        </li>
        <li>컨텐츠 내부에서 바로 사용하기 = [[${data}]] </li>

        <li>th:text 사용
            <span th:text="${dataWithUnEscape}">th dataWithUnEscape</span>
        </li>
        <li>컨텐츠 내부에서 바로 사용하기 에스케이프 처리 사용 = [[${dataWithUnEscape}]] </li>

        <li>th:text 사용
            <span th:utext="${dataWithUnEscape}">th dataWithUnEscape</span>
        </li>
        <li>컨텐츠 내부에서 바로 사용하기 에스케이프 처리 비활성화 = [(${dataWithUnEscape})] </li>
    </ul>

</body>
</html>